:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 32px;
  min-width: 50px;
  min-height: 50px;
  max-width: 1440px;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.card {
  height: max-content;
  min-width: 320px;
  max-width: 400px;
  flex-grow: 1;
  flex-basis: 0;
}
.button-group {
  height: max-content;
  min-width: min-content;
}
.button {
  --ig-size: var(--ig-size-medium);
  height: max-content;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
.actions-content {
  min-width: 50px;
  min-height: 40px;
}
.h3 {
  height: max-content;
  min-width: min-content;
}
