<div class="row-layout group">
  <igx-navbar class="navbar">
    <igx-navbar-title class="navbar-content">
      <igx-avatar src="/assets/Logo.svg" shape="circle" class="avatar"></igx-avatar>
      <h5 class="h5">
        Toy Store
      </h5>
    </igx-navbar-title>
  </igx-navbar>
</div>
<img src="/assets/Whimsical%20Toy%20Arrangement.png" class="image" />
<div class="row-layout group_1">
  <p class="ig-typography__body-2 text">
    "Play is the highest form of research" - Albert Einstein
  </p>
</div>
<div class="view-container">
  <router-outlet></router-outlet>
</div>
