<igx-list class="list">
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
</igx-list>
<igx-list class="list">
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
</igx-list>
<button igxButton="contained" type="button" igxRipple class="button">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button">
  Button
</button>
<button igxButton="contained" type="button" igxRipple class="button">
  Button
</button>
<igx-list class="list">
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
</igx-list>
<igx-list class="list">
  <igx-list-item>
    <span igxListThumbnail>
      <igx-avatar shape="circle" class="avatar">
        <igx-icon>
          person
        </igx-icon>
      </igx-avatar>
    </span>
    <span igxListLineTitle>Title goes here</span>
    <span igxListLineSubTitle>Subtitle...</span>
    <span igxListAction>
      <igx-icon class="icon">
        star
      </igx-icon>
    </span>
  </igx-list-item>
</igx-list>
